<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/iconSprite.css">
    <link rel="stylesheet" href="../assets/icofont/icofont/icofont.min.css">
    <title>Document</title>
</head>

<body>
    <!-- POP UP DIALOG -->
    <div class="ms-dialog">
        <form class="ms-dialog-wrapper form-size">
            <div class="ms-dialog-wrapper__header form-size__header">
                <div class="form-header__left">
                    <div class="ms-dialog-wrapper__header__title mg-right8"><span id="form-title" style="font-size: 24px;"></span> nhân viên</div>
                    <div class="form-header__left__checkbox mg-right20 mg-left10">
                        <input type="checkbox" style="width: 18px; height: 18px; margin-right: 8px;" checked>
                        <div class="" >Là khách hàng
                        </div>
                    </div>
                    <div class="form-header__left__checkbox mg-left10">
                        <input type="checkbox" style="width: 18px; height: 18px; margin-right: 8px;">
                        <div class="">Là nhà cung cấp
                        </div>
                    </div>
                </div>
                <div class="form-header__right">
                    <div class="sprite-question mg-right8"></div>
                    <div class="sprite-exit ms-dialog-wrapper__header__exit"></div>
                </div>
            </div>

            <div class="ms-dialog-wrapper__body form-body">
                <div class="form-body__top">
                    <div class="form-body__top__left pd-right10">
                        <div class="ma-ten mg-bottom22">
                            <div class="ma mg-right8">
                                <div class="ms-textbox">
                                    <div class="ms-textbox__field">Mã<span style="color: red;"> *</span></div>
                                    <input id="tab-focus" type="text" class="ms-textbox__input"
                                        placeholder="VD:NV-11111" tabindex="0" Field="EmployeeCode">
                                    <div class="ms-textbox__warning__missing" title="Tên trường không được để trống">Trường &lt Mã &gt
                                        không được để trống</div>
                                    <div class="ms-textbox__warning__format" title="Mã chưa đúng định dạng(NV-XXXXX)">Trường &lt Mã &gt
                                        chưa đúng định dạng(NV-XXXXX)</div>
                                </div>
                            </div>
                            <div class="ten">
                                <div class="ms-textbox">
                                    <div class="ms-textbox__field">Tên<span style="color: red;"> *</span></div>
                                    <input id="employee-name-field" type="text" class="ms-textbox__input" placeholder="VD:Nguyen Van A" Field="EmployeeName">
                                    <div class="ms-textbox__warning__missing">Trường &lt Tên &gt không được để trống</div>
                                </div>
                            </div>
                        </div>
                        <div class="donvi mg-bottom22">
                            <div class="ms-dropdown">
                                <label for="" class="ms-dropdown__lable">Đơn vị<span style="color: red;">
                                        *</span></label>
                                <div class="ms-dropdown__box">
                                    <button class="ms-dropdown__box__icon">
                                        <div class="sprite-bigarrdown"></div>
                                    </button>
                                    <input id="department-name-field" class="ms-dropdown__box__text" type="text" placeholder="Nhân sự" readonly name="department">
                                    <div class="ms-dropdown__list">
                                        <div class="ms-dropdown__list__container" id="department-mapping">
                                            <div class="ms-dropdown__list__value" id="469b3ece-744a-45d5-957d-e8c757976496">Phòng sản xuất</div>
                                            <div class="ms-dropdown__list__value" id="142cb08f-7c31-21fa-8e90-67245e8b283e">Phòng nhân sự</div>
                                            <div class="ms-dropdown__list__value" id="4e272fc4-7875-78d6-7d32-6a1673ffca7c">Phòng đào tạo</div>
                                            <div class="ms-dropdown__list__value" id="17120d02-6ab5-3e43-18cb-66948daf6128">Phòng tuyển sinh</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ms-dropdown__message__missing">Trường &lt Đơn vị &gt không được để trống</div>
                            </div>
                        </div>
                        <div class="chucdanh mg-bottom22">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Chức danh</div>
                                <input type="text" class="ms-textbox__input" placeholder="Lễ tân chính" name="position">
                            </div>
                        </div>
                    </div>
                    <div class="form-body__top__right pd-left10">
                        <div class="ngaysinh-gioitinh mg-bottom22">
                            <div class="ms-input-date ngaysinh mg-right12">
                                <label for="">Ngày sinh</label>
                                <input type="date" name="dob" id="" class="ms-input-date-box">
                            </div>
                            
                            <div class="gioitinh">
                                <div class="gioitinh-wrapper">
                                    <label for="" class="gioitinh-wrapper__lable">Giới tính</label>
                                    <div class="gioitinh-wrapper__button">
                                        <label class="ms-radiobutton">Nam
                                            <input checked type="radio" name="gender" value=0>
                                            <span class="rdb-checkmark"></span>
                                        </label>
                                        <label class="ms-radiobutton">Nữ
                                            <input type="radio" name="gender" value=1>
                                            <span class="rdb-checkmark"></span>
                                        </label>
                                        <label class="ms-radiobutton">Khác
                                            <input type="radio" name="gender" value=2>
                                            <span class="rdb-checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="socmt-ngaycap mg-bottom22">
                            <div class="socmt mg-right8">
                                <div class="ms-textbox">
                                    <div class="ms-textbox__field" title="Số chứng minh nhân dân">Số CMND</div>
                                    <input type="text" class="ms-textbox__input" placeholder="0123456789" name="idNumber">
                                </div>
                            </div>
                            <div class="ms-input-date ngaycap">
                                <label for="">Ngày cấp</label>
                                <input type="date" name="idDate" id="" class="ms-input-date-box">
                            </div>
                            
                        </div>
                        <div class="noicap mg-bottom22">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Nơi cấp</div>
                                <input type="text" class="ms-textbox__input" placeholder="Hà Nội" name="idPlace">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-body__bottom">
                    <div class="diachi mg-bottom22">
                        <div class="ms-textbox">
                            <div class="ms-textbox__field">Địa chỉ</div>
                            <input type="text" class="ms-textbox__input" placeholder="Âu cơ , Hà Nội" name="address">
                        </div>
                    </div>
                    <div class="dt-email mg-bottom22">
                        <div class="didong mg-right8">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field" title="Điện thoại di động">ĐT di động</div>
                                <input type="text" name="phoneNumber" class="ms-textbox__input" placeholder="0367855590">
                            </div>
                        </div>
                        <div class="codinh mg-right8">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field" title="Điện thoại cố định">ĐT cố định</div>
                                <input type="text" class="ms-textbox__input" placeholder="(764) 749-6478" name="telephoneNumber">
                            </div>
                        </div>
                        <div class="email">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Email</div>
                                <input type="text" class="ms-textbox__input" placeholder="abc@gmail.com" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="tk-nganhang">
                        <div class="tk mg-right8">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Tài khoản ngân hàng</div>
                                <input type="text" class="ms-textbox__input" placeholder="944197" name="banhAccount">
                            </div>
                        </div>
                        <div class="nganhang mg-right8">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Tên ngân hàng</div>
                                <input type="text" class="ms-textbox__input" placeholder="Viettel" name="bankName">
                            </div>
                        </div>
                        <div class="chinhanh">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Chi nhánh</div>
                                <input type="text" class="ms-textbox__input" placeholder="Hà Nội" name="bankProvince">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-footer">
                <div class="form-footer__left">
                    <div class="ms-button-secondary" id="ms-close-form">Hủy</div>
                </div>
                <div class="form-footer__right">
                    <div class="ms-button-secondary mg-right8" id="ms-save-form">Cất</div>
                    <div class="ms-button" id="ms-add-employee">Cất và Thêm</div>
                </div>
            </div>
        </form>
    </div>

    <!-- PAGE WRAPPER -->
    <div class="wrapper" tabindex="-1">
        <!-- HEADER -->
        <div class="header">
            <div class="header-left">
                <div class="sprite-toggle"></div>
                <div class="sprite-logo"></div>
                <div title="Công ty ABC" class="cm-header-title">Công ty ABC</div>
                <div class="sprite-bigarrdown"></div>
            </div>
            <div class="header-right">
                <div class="header-right__icon" title="Trợ giúp">
                    <div class="sprite-help"></div>
                    <div class="header-right__icon__foot"></div>
                </div>
                <div class="header-right__icon" title="Thông báo">
                    <div class="sprite-bell"></div>
                    <div class="header-right__icon__foot"></div>
                </div>
                <div class="header-right__user">
                    <div class="header-right__user__img"></div>
                    <div class="header-right__user__name">Nguyễn Văn A</div>
                    <div class="sprite-arrdown"></div>
                </div>
            </div>
        </div>
        <!-- SIDEBAR and BODY -->
        <div class="container">
            <!-- SIDEBAR -->
            <div class="sidebar">
                <div class="item-list">
                    <button class="item-list__item sidebar-focus" title="Tổng quan" autofocus>
                        <div class="sprite-tongquan item-nofocus"></div>
                        <div class="spritefc-tongquan item-focus"></div>
                        <div class="item-list__item__text mg-left12">Tổng quan</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Tiền mặt">
                        <div class="sprite-tienmat item-nofocus"></div>
                        <div class="spritefc-tienmat item-focus"></div>
                        <div class="item-list__item__text mg-left12">Tiền mặt</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Tiền gửi">
                        <div class="sprite-tiengui item-nofocus"></div>
                        <div class="spritefc-tiengui item-focus"></div>
                        <div class="item-list__item__text mg-left12">Tiền gửi</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Mua hàng">
                        <div class="sprite-muahang item-nofocus"></div>
                        <div class="spritefc-muahang item-focus"></div>
                        <div class="item-list__item__text mg-left12">Mua hàng</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Bán hàng">
                        <div class="sprite-banhang item-nofocus"></div>
                        <div class="spritefc-banhang item-focus"></div>
                        <div class="item-list__item__text mg-left12">Bán hàng</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Quản lí hóa đơn">
                        <div class="sprite-qlhoadon item-nofocus"></div>
                        <div class="spritefc-qlhoadon item-focus"></div>
                        <div class="item-list__item__text mg-left12">Quản lí hóa đơn</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Kho">
                        <div class="sprite-kho item-nofocus"></div>
                        <div class="spritefc-kho item-focus"></div>
                        <div class="item-list__item__text mg-left12">Kho</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Công cụ dụng cụ">
                        <div class="sprite-congcu item-nofocus"></div>
                        <div class="spritefc-congcu item-focus"></div>
                        <div class="item-list__item__text mg-left12">Công cụ dụng cụ</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Tài sản cố định">
                        <div class="sprite-taisan item-nofocus"></div>
                        <div class="spritefc-taisan item-focus"></div>
                        <div class="item-list__item__text mg-left12">Tài sản cố định</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Thuế">
                        <div class="sprite-thue item-nofocus"></div>
                        <div class="spritefc-thue item-focus"></div>
                        <div class="item-list__item__text mg-left12">Thuế</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Giá thành">
                        <div class="sprite-giathanh item-nofocus"></div>
                        <div class="spritefc-giathanh item-focus"></div>
                        <div class="item-list__item__text mg-left12">Giá thành</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Tổng hợp">
                        <div class="sprite-tonghop item-nofocus"></div>
                        <div class="spritefc-tonghop item-focus"></div>
                        <div class="item-list__item__text mg-left12">Tổng hợp</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Ngân sách">
                        <div class="sprite-ngansach item-nofocus"></div>
                        <div class="spritefc-ngansach item-focus"></div>
                        <div class="item-list__item__text mg-left12">Ngân sách</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Báo cáo">
                        <div class="sprite-baocao item-nofocus"></div>
                        <div class="spritefc-baocao item-focus"></div>
                        <div class="item-list__item__text mg-left12">Báo cáo</div>
                    </button>
                    <button class="item-list__item sidebar-focus" title="Phân tích tài chính">
                        <div class="sprite-phantich item-nofocus"></div>
                        <div class="spritefc-phantich item-focus"></div>
                        <div class="item-list__item__text mg-left12">Phân tích tài chính</div>
                    </button>
                </div>
                <div class="sidebar__decrease" id="sidebar-minimal" Action="maximal">
                    <div class="sprite-bigarrleft" id="minimal-sidebar"></div>
                    <div class="sprite-bigarrright" id="maximal-sidebar" style="display: none;"></div>
                    <div class="item-list__item__text mg-left12">Thu gọn</div>
                </div>
            </div>
            <!-- BODY -->
            <div class="body">
                <div class="content">
                    <!-- TITLE, FUNCTION -->
                    <div class="content__title">
                        <div class="title">Nhân viên</div>
                        <div class="function" id="pop-up-dialog">
                            <button class="ms-button-with-icon"><i
                                    class="icofont-plus ms-button-with-icon__icon"></i>Thêm mới nhân viên</button>
                        </div>
                    </div>
                    <!-- FILTER, TABLE and PAGING -->
                    <div class="content__table">
                        <!-- FILTER -->
                        <div class="filter">
                            <div class="ms-textbox-icon mg-right10">
                                <div class="ms-textbox-icon__wrap">
                                    <input type="text" class="ms-textbox-icon__input"
                                        placeholder="Tìm theo mã, tên nhân viên">
                                    <div class="ms-textbox-icon__icon">
                                        <i class="icofont-search-1"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="sprite-refresh" id="refresh-table-btn" title="Làm mới bảng"></div>
                        </div>
                        <!-- TABLE -->
                        <div class="ms-table-wrapper">
                            <div class="ms-table-container">
                                <table class="ms-table" id="tableID" api="https://amis.manhnv.net/api/v1/Employees">
                                    <thead class="ms-table__header">
                                        <tr class="ms-table__row__first">
                                            <th
                                                class="ms-table__col pd-left16 pd-right16" tableTurple="CheckBox">
                                                <input type="checkbox" class="mg-top6 ms-checkbox" id="main-check">
                                            </th>
                                            <th class="ms-table__col pd-left16 pd-right16 align-left"
                                                style="min-width: 150px;" tableTurple="EmployeeCode">MÃ NHÂN VIÊN</th>
                                            <th class="ms-table__col pd-left16 pd-right16 align-left"
                                                style="min-width: 220px;" tableTurple="EmployeeName">TÊN NHÂN VIÊN</th>
                                            <th class="ms-table__col pd-left16 pd-right16 align-left"
                                                style="min-width: 110px;" tableTurple="Gender">GIỚI TÍNH</th>
                                                <th class="ms-table__col pd-left16 pd-right16 align-center"
                                                style="min-width: 150px;" tableTurple="DateOfBirth">NGÀY SINH</th>
                                            <th class="ms-table__col pd-left16 pd-right16 align-left"
                                                title="Số chứng minh nhân dân" style="min-width: 180px;" tableTurple="IdentityNumber">SỐ CMND</th>
                                            <th class="ms-table__col pd-left16 pd-right16 align-left"
                                                style="min-width: 220px;" tableTurple="PositionName">CHỨC DANH</th>
                                            <th class="ms-table__col pd-left16 pd-right16 align-left"
                                                style="min-width: 220px;" tableTurple="DepartmentName">TÊN ĐƠN VỊ</th>
                                            <th class="ms-table__col pd-left16 pd-right16 align-left"
                                                style="min-width: 150px;" tableTurple="BankAccountNumber">SỐ TÀI KHOẢN</th>
                                            <th class="ms-table__col pd-left16 pd-right16 align-left"
                                                style="min-width: 150px;" tableTurple="BankName">TÊN NGÂN HÀNG</th>
                                            <th class="ms-table__col pd-left16 pd-right16 align-left"
                                                title="Chi nhánh tài khoản ngân hàng" style="min-width: 250px;" tableTurple="BankProvinceName">CHI
                                                NHÁNH TK NGÂN HÀNG</th>
                                            <th class="ms-table__col pd-left16 pd-right16 align-right"
                                                style="min-width: 120px;" tableTurple="Function">CHỨC NĂNG</th>
                                        </tr>
                                    </thead>
                                    <tbody class="ms-table__body">
                                       <!-- APPENDING DATA -->
                                    </tbody>
                                </table>
                            </div>
                            <!-- PAGING -->
                            <div class="ms-table-footer">
                                <div class="ms-table-footer__left">
                                    Tổng : <b id="total-records"></b>
                                </div>
                                <div class="ms-table-footer__right">
                                    <div class="ms-table-footer__right__limit">
                                        <span style="color: #666666;">Số bản ghi/trang:</span>
                                        <div class="ms-dropdown width40 mg-right10">
                                            <div class="ms-dropdown__box">
                                                <button class="ms-dropdown__box__icon paging-icon-modified">
                                                    <div class="sprite-bigarrdown"></div>
                                                </button>
                                                <input class="ms-dropdown__box__text paging-text-modified" type="text" id="numberOfRecordInPage"
                                                    placeholder="10" value="10" readonly>
                                                <div class="ms-dropdown__list dropdown-list-modified">
                                                    <div class="ms-dropdown__list__container">
                                                        <div class="ms-dropdown__list__value">10</div>
                                                        <div class="ms-dropdown__list__value">20</div>
                                                        <div class="ms-dropdown__list__value">30</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ms-table-footer__right__range mg-right8 mg-left16">
                                        <b id="recordFrom"></b> <span style="color: #666666;">bản ghi</span>
                                    </div>
                                    <div class="sprite-bigarrleft mg-left16" id="dis-go-back" style="display: block;"></div>
                                    <div class="sprite-boldbigarrleft mg-left16" id="go-back" style="display: none;"></div>
                                    <div class="sprite-bigarrright mg-left16" id="dis-go-next" style="display: none;"></div>
                                    <div class="sprite-boldbigarrright mg-left16" id="go-next" style="display: block;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FIX DROPDOWN -->
    <div class="function-dropdown" id="dd-function-list">
        <div class="function-dropdown__container">
            <div class="function-dropdown__value" id="duplicate">Nhân bản</div>
            <div class="function-dropdown__value" id="delete">Xóa</div>
            <div class="function-dropdown__value" id="stop">Ngừng sử dụng
            </div>
        </div>
    </div>
    
    <!-- FIX MESSAGE POPUP -->
    <div class="ms-notification ms-notification-success" style="
        display: none;
        position: fixed;
        z-index: 20;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
    ">
        <div class="ms-notification-success__icon"></div>
        <div class="ms-notification-success__body"> <b class="ms-notification-success__title">Thành công!</b> <span id="text-success">Nhân viên đã bị xóa.</span></div>
        <div class="ms-notification__close"></div>
    </div>

    <div class="ms-notification ms-notification-error" style="
        display: none;
        position: fixed;
        z-index: 20;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
    ">
        <div class="ms-notification-error__icon"></div>
        <div class="ms-notification-error__body"> 
            <div><b class="ms-notification-error__title">Lỗi!</b> <span id="text-error">Không thể cập nhật được dữ liệu. Vui lòng kiểm tra lại kết nối internet.</span></div>
            <div class="error-guide">Xem hướng dẫn</div>
        </div>
        <div class="ms-notification__close"></div>
    </div> 

    <div class="ms-notification ms-notification-warning" style="
            display: none;
            position: fixed;
            z-index: 20;
            top: 65px;
            left: 50%;
            transform: translateX(-50%);
        ">
        <div class="ms-notification-warning__icon"></div>
        <div class="ms-notification-warning__body"> <b class="ms-notification-warning__title">Cảnh báo!</b> <span id="text-warning">Dữ liệu của bạn đã bị thay đổi bởi người dùng khác.</span></div>
        <div class="ms-notification__close"></div>
    </div>

    <!-- 2 buttons Dialog popup -->
    <div class="ms-warning-block" id="ask-delete-eployee">
        <div class="ms-warning-block__top">
            <div class="ms-warning-block__top__icon"></div>
            <div class="ms-warning-block__top__text">Bạn có thực sự muốn xóa không?</div>
        </div>
        <div class="ms-warning-block__bottom">
            <button class="ms-button-secondary close-form">Không</button>
            <button class="ms-button close-form" id="aggree-delete">Có</button>
        </div>
    </div>

    <!-- Single button Dialog popup  -->
    <div class="ms-warning-block" id="employee-code-exist">
        <div class="ms-warning-block__top">
            <div class="ms-warning-block__top__icon"></div>
            <div class="ms-warning-block__top__text"><span id="existance-code">Mã nhân viên xxx đã tồn tại trong hệ thống</span></div>
        </div>
        <div class="ms-warning-block__bottom" style="justify-content: flex-end;">
            <button class="ms-button close-form">Đồng ý</button>
        </div>
    </div>

    <!-- Single button error Dialog popup  -->
    <div class="ms-error-block" id="must-fullfill">
        <div class="ms-error-block__top">
            <div class="ms-error-block__top__icon"></div>
            <div class="ms-error-block__top__text" id="error-info-text">Tên không được để trống</div>
        </div>
        <div class="ms-error-block__bottom">
            <button class="ms-button close-form">Đóng</button>
        </div>
    </div>

    <!-- Three buttons inform Dialog popup  -->
    <div class="ms-inform-block" id="change-data-inform">
        <div class="ms-inform-block__top">
            <div class="ms-inform-block__top__icon"></div>
            <div class="ms-inform-block__top__text" id="inform-text">Dữ liệu đã bị thay đổi. Bạn có muốn cất không?</div>
        </div>
        <div class="ms-inform-block__bottom">
            <button class="ms-button-secondar" id="save-close">Hủy</button>
            <div style="display: flex;">
                <button class="ms-button-secondary" style="margin-right: 8px;" id="nosave-close">Không</button>
                <button class="ms-button" id="add-close">Có</button>
            </div>
        </div>
    </div>


    <!-- IMPORT JQUERY CDN -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- IMPORT JS COMPONENT -->
    <script src="../js/common/apiService.js"></script>
    <script src="../js/common/dropdown.js"></script>
    <script src="../js/common/format.js"></script>
    <script src="../js/common/notificationDiplay.js"></script>
    <script src="../js/common/dialogPopup.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/employee/employee.js"></script>
    <script src="../js/employee/employeeForm.js"></script>
    <!-- <script src="../js/common/dropdown.js"></script> -->
</body>

</html>