<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/iconSprite.css">
    <link rel="stylesheet" href="../assets/icofont/icofont/icofont.min.css">
    <title>Document</title>
</head>
<body>
    <!-- POP UP DIALOG -->
    <div class="ms-dialog">
        <div class="ms-dialog-wrapper form-size">
            <div class="ms-dialog-wrapper__header form-size__header">
                <div class="form-header__left">
                    <div class="ms-dialog-wrapper__header__title mg-right8">Thông tin nhân viên</div>
                    <div class="form-header__left__checkbox mg-right20 mg-left10">
                        <label class="ms-checkbox mg-top8">Là khách hàng
                          <input type="checkbox">
                          <span class="cb-checkmark"></span>
                        </label>
                    </div>
                    <div class="form-header__left__checkbox mg-left10">
                        <label class="ms-checkbox mg-top8">Là nhà cung cấp
                          <input type="checkbox">
                          <span class="cb-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="form-header__right">
                    <div class="sprite-question mg-right8"></div>
                    <div class="sprite-exit ms-dialog-wrapper__header__exit"></div>
                </div>
            </div>

            <div class="ms-dialog-wrapper__body form-body">
                <div class="form-body__top">
                    <div class="form-body__top__left pd-right10">
                        <div class="ma-ten mg-bottom22">
                            <div class="ma mg-right8">
                                <div class="ms-textbox">
                                    <div class="ms-textbox__field">Mã<span style="color: red;"> *</span></div>
                                    <input id="tab-focus" type="text" class="ms-textbox__input" placeholder="VD:NV-11111" tabindex="0">
                                    <div class="ms-textbox__warning">Tên trường không được để trống</div>
                                </div>
                            </div>
                            <div class="ten">
                                <div class="ms-textbox">
                                    <div class="ms-textbox__field">Tên<span style="color: red;"> *</span></div>
                                    <input type="text" class="ms-textbox__input" placeholder="VD:Nguyen Van A">
                                    <div class="ms-textbox__warning">Tên trường không được để trống</div>
                                </div>
                            </div>
                        </div>
                        <div class="donvi mg-bottom22">
                            <div class="ms-dropdown">
                                <label for="" class="ms-dropdown__lable">Đơn vị<span style="color: red;"> *</span></label>
                                <div class="ms-dropdown__box">
                                    <button class="ms-dropdown__box__icon">
                                        <div class="sprite-bigarrdown"></div>
                                    </button>
                                    <input class="ms-dropdown__box__text" type="text" placeholder="Nhân sự" readonly>
                                    <div class="ms-dropdown__list">
                                        <div class="ms-dropdown__list__container">
                                            <div class="ms-dropdown__list__value">Misa</div>
                                            <div class="ms-dropdown__list__value">FPT</div>
                                            <div class="ms-dropdown__list__value">Viettel</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ms-dropdown__message">Error Message</div>
                            </div>
                        </div>
                        <div class="chucdanh mg-bottom22">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Chức danh</div>
                                <input type="text" class="ms-textbox__input" placeholder="Lễ tân chính">
                            </div>
                        </div>
                    </div>
                    <div class="form-body__top__right pd-left10">
                        <div class="ngaysinh-gioitinh mg-bottom22">
                            <div class="ngaysinh mg-right12">
                                <div class="ms-dropdown">
                                    <label for="" class="ms-dropdown__lable">Ngày sinh</label>
                                    <div class="ms-dropdown__box">
                                        <button class="ms-dropdown__box__icon">
                                            <div class="sprite-date"></div>
                                        </button>
                                        <input class="ms-dropdown__box__text" type="text" placeholder="12/12/2001" readonly>
                                        <div class="ms-dropdown__list">
                                            <div class="ms-dropdown__list__container">
                                                <div class="ms-dropdown__list__value">12/12/2002</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gioitinh">
                                <div class="gioitinh-wrapper">
                                    <label for="" class="gioitinh-wrapper__lable">Giới tính</label>
                                    <div class="gioitinh-wrapper__button">
                                        <label class="ms-radiobutton">Nam
                                          <input type="radio" name="radio">
                                          <span class="rdb-checkmark"></span>
                                        </label>
                                        <label class="ms-radiobutton">Nữ
                                          <input type="radio" name="radio">
                                          <span class="rdb-checkmark"></span>
                                        </label>
                                        <label class="ms-radiobutton">Khác
                                          <input type="radio" name="radio">
                                          <span class="rdb-checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="socmt-ngaycap mg-bottom22">
                            <div class="socmt mg-right8">
                                <div class="ms-textbox">
                                    <div class="ms-textbox__field" title="Số chứng minh nhân dân">Số CMND</div>
                                    <input type="text" class="ms-textbox__input" placeholder="0123456789">
                                </div>
                            </div>
                            <div class="ngaycap">
                                <div class="ms-dropdown">
                                    <label for="" class="ms-dropdown__lable">Ngày cấp</label>
                                    <div class="ms-dropdown__box">
                                        <button class="ms-dropdown__box__icon">
                                            <div class="sprite-date"></div>
                                        </button>
                                        <input class="ms-dropdown__box__text" type="text" placeholder="12/12/2001" readonly>
                                        <div class="ms-dropdown__list">
                                            <div class="ms-dropdown__list__container">
                                                <div class="ms-dropdown__list__value">12/12/2002</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="noicap mg-bottom22">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Nơi cấp</div>
                                <input type="text" class="ms-textbox__input" placeholder="Hà Nội">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-body__bottom">
                    <div class="diachi mg-bottom22">
                        <div class="ms-textbox">
                            <div class="ms-textbox__field">Địa chỉ</div>
                            <input type="text" class="ms-textbox__input" placeholder="Âu cơ , Hà Nội">
                        </div>
                    </div>
                    <div class="dt-email mg-bottom22">
                        <div class="didong mg-right8">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field" title="Điện thoại di động">ĐT di động</div>
                                <input type="text" class="ms-textbox__input" placeholder="0367855590">
                        </div>
                        </div>
                        <div class="codinh mg-right8">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field" title="Điện thoại cố định">ĐT cố định</div>
                                <input type="text" class="ms-textbox__input" placeholder="(764) 749-6478">
                        </div>
                        </div>
                        <div class="email">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Email</div>
                                <input type="text" class="ms-textbox__input" placeholder="abc@gmail.com">
                        </div>
                        </div>
                    </div>
                    <div class="tk-nganhang">
                        <div class="tk mg-right8">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Tài khoản ngân hàng</div>
                                <input type="text" class="ms-textbox__input" placeholder="944197">
                        </div>
                        </div>
                        <div class="nganhang mg-right8">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Tên ngân hàng</div>
                                <input type="text" class="ms-textbox__input" placeholder="Viettel">
                        </div>
                        </div>
                        <div class="chinhanh">
                            <div class="ms-textbox">
                                <div class="ms-textbox__field">Chi nhánh</div>
                                <input type="text" class="ms-textbox__input" placeholder="Hà Nội">
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-footer">
                <div class="form-footer__left">
                    <div class="ms-button-secondary">Hủy</div>
                </div>
                <div class="form-footer__right">
                    <div class="ms-button-secondary mg-right8">Cất</div>
                    <div class="ms-button">Cất và Thêm</div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE WRAPPER -->
    <div class="wrapper" tabindex="-1">
        <!-- HEADER -->
        <div class="header">
            <div class="header-left">
                <div class="sprite-toggle"></div>
                <div class="sprite-logo"></div>
                <div title="Công ty ABC" class="cm-header-title">Công ty ABC</div>
                <div class="sprite-bigarrdown"></div>
            </div>
            <div class="header-right">
                <div class="header-right__icon">
                    <div class="sprite-help"></div>
                    <div class="header-right__icon__foot"></div>
                </div>
                <div class="header-right__icon">
                    <div class="sprite-bell"></div>
                    <div class="header-right__icon__foot"></div>
                </div>
                <div class="header-right__user">
                    <div class="header-right__user__img"></div>
                    <div class="header-right__user__name">Nguyễn Văn A</div>
                    <div class="sprite-arrdown"></div>
                </div>
            </div>
        </div>
        <!-- SIDEBAR and BODY -->
        <div class="container">
            <!-- SIDEBAR -->
            <div class="sidebar">
                <div class="item-list">
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Tổng quan</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Tiền mặt</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Tiền gửi</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Mua hàng</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Bán hàng</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Quản lí hóa đơn</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Kho</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Công cụ dụng cụ</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Tài sản cố định</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Thuế</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Giá thành</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Tổng hợp</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Ngân sách</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Báo cáo</div>
                    </button>
                    <button class="item-list__item">
                        <div class="sprite-home mg-right12"></div>
                        <div class="item-list__item__text">Phân tích tài chính</div>
                    </button>
                </div>
                <div class="sidebar__decrease">
                    <div class="sprite-bigarrleft mg-right12"></div>
                    <div class="sidebar__decrease__text">Thu gọn</div>
                </div>
            </div>
            <!-- BODY -->
            <div class="body">
                <div class="content">
                    <!-- TITLE, FUNCTION -->
                    <div class="content__title">
                        <div class="title">Nhân viên</div>
                        <div class="function" id="pop-up-dialog">
                            <button class="ms-button-with-icon"><i class="icofont-plus ms-button-with-icon__icon"></i>Thêm mới</button>
                        </div>
                    </div>
                    <!-- FILTER, TABLE and PAGING -->
                    <div class="content__table">
                        <!-- FILTER -->
                        <div class="filter">
                            <div class="ms-textbox-icon mg-right10">
                                <div class="ms-textbox-icon__wrap">
                                    <input type="text" class="ms-textbox-icon__input" placeholder="Tìm theo mã, tên nhân viên">
                                    <div class="ms-textbox-icon__icon">
                                        <i class="icofont-search-1"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="sprite-refresh"></div>
                        </div>
                        <!-- TABLE -->
                        <div class="ms-table-wrapper">
                            <div class="ms-table-container">
                                <table class="ms-table table-height">
                                    <thead class="ms-table__header">
                                        <tr class="ms-table__row__first">
                                            <th class="ms-table__col ms-table__col1 pd-left16 pd-right16 ">
                                                <div class="ms-checkbox-wrapper mg-bottom18">
                                                    <label class="ms-checkbox">
                                                        <input type="checkbox" class="row-check" id="main-check">
                                                        <span class="cb-checkmark"></span>
                                                    </label>
                                                </div>
                                            </th>
                                            <th class="ms-table__col ms-table__col2 pd-right16 align-left">MÃ NHÂN VIÊN</th>
                                            <th class="ms-table__col ms-table__col3 pd-left16 pd-right16 align-left">TÊN NHÂN VIÊN</th>
                                            <th class="ms-table__col ms-table__col4 pd-left16 pd-right16 align-left">GIỚI TÍNH</th>
                                            <th class="ms-table__col ms-table__col5 pd-left16 pd-right16 align-center">NGÀY SINH</th>
                                            <th class="ms-table__col ms-table__col6 pd-left16 pd-right16 align-left" title="Số chứng minh nhân dân">SỐ CMND</th>
                                            <th class="ms-table__col ms-table__col7 pd-left16 pd-right16 align-left">CHỨC DANH</th>
                                            <th class="ms-table__col ms-table__col8 pd-left16 pd-right16 align-left">TÊN ĐƠN VỊ</th>
                                            <th class="ms-table__col ms-table__col9 pd-left16 pd-right16 align-left">SỐ TÀI KHOẢN</th>
                                            <th class="ms-table__col ms-table__col10 pd-left16 pd-right16 align-left">TÊN NGÂN HÀNG</th>
                                            <th class="ms-table__col ms-table__col11 pd-left16 pd-right16 align-left" title="Chi nhánh tài khoản ngân hàng">CHI NHÁNH TK NGÂN HÀNG</th>
                                            <th class="ms-table__col ms-table__col12 pd-left16 pd-right16 align-right">CHỨC NĂNG</th>
                                        </tr>
                                    </thead>
                                    <tbody class="ms-table__body">
                                        <tr class="ms-table__row">
                                            <td class="ms-table__col ms-table__col1 pd-left16 pd-right16 ">
                                                <div class="ms-checkbox-wrapper mg-bottom18">
                                                    <label class="ms-checkbox ">
                                                        <input type="checkbox" class="row-check ">
                                                        <span class="cb-checkmark check-mark-bg"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="ms-table__col ms-table__col2 pd-right16 align-left">NV10000</td>
                                            <td class="ms-table__col ms-table__col3 pd-left16 pd-right16 align-left">Nguyễn Văn A</td>
                                            <td class="ms-table__col ms-table__col4 pd-left16 pd-right16 align-left">Nam</td>
                                            <td class="ms-table__col ms-table__col5 pd-left16 pd-right16 align-center">12/12/2001</td>
                                            <td class="ms-table__col ms-table__col6 pd-left16 pd-right16 align-left" title="Số chứng minh nhân dân">001201012901</td>
                                            <td class="ms-table__col ms-table__col7 pd-left16 pd-right16 align-left">Nhân viên</td>
                                            <td class="ms-table__col ms-table__col8 pd-left16 pd-right16 align-left">Misa</td>
                                            <td class="ms-table__col ms-table__col9 pd-left16 pd-right16 align-left">0123456789</td>
                                            <td class="ms-table__col ms-table__col10 pd-left16 pd-right16 align-left">ViettinBanh</td>
                                            <td class="ms-table__col ms-table__col11 pd-left16 pd-right16 align-left">Hà Nội</td>
                                            <td class="ms-table__col ms-table__col12 pd-left16 pd-right16 align-center col-function">
                                                <div class="ms-dropdown width70">
                                                    <div class="ms-dropdown__box">
                                                        <button class="ms-dropdown__box__icon">
                                                            <div class="sprite-bluearrdown"></div>
                                                        </button>
                                                        <input class="ms-dropdown__box__text dropdown-text-modified blue" type="text" placeholder="Sửa" readonly>
                                                        <div class="ms-dropdown__list dropdown-list-funtion-modified width150">
                                                            <div class="ms-dropdown__list__container">
                                                                <div class="ms-dropdown__list__value">Nhân bản</div>
                                                                <div class="ms-dropdown__list__value">Xóa</div>
                                                                <div class="ms-dropdown__list__value">Ngừng sử dụng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="ms-table__row">
                                            <td class="ms-table__col ms-table__col1 pd-left16 pd-right16 ">
                                                <div class="ms-checkbox-wrapper mg-bottom18">
                                                    <label class="ms-checkbox ">
                                                        <input type="checkbox" class="row-check ">
                                                        <span class="cb-checkmark check-mark-bg"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="ms-table__col ms-table__col2 pd-right16 align-left">NV10000</td>
                                            <td class="ms-table__col ms-table__col3 pd-left16 pd-right16 align-left">Nguyễn Văn A</td>
                                            <td class="ms-table__col ms-table__col4 pd-left16 pd-right16 align-left">Nam</td>
                                            <td class="ms-table__col ms-table__col5 pd-left16 pd-right16 align-center">12/12/2001</td>
                                            <td class="ms-table__col ms-table__col6 pd-left16 pd-right16 align-left" title="Số chứng minh nhân dân">001201012901</td>
                                            <td class="ms-table__col ms-table__col7 pd-left16 pd-right16 align-left">Nhân viên</td>
                                            <td class="ms-table__col ms-table__col8 pd-left16 pd-right16 align-left">Misa</td>
                                            <td class="ms-table__col ms-table__col9 pd-left16 pd-right16 align-left">0123456789</td>
                                            <td class="ms-table__col ms-table__col10 pd-left16 pd-right16 align-left">ViettinBanh</td>
                                            <td class="ms-table__col ms-table__col11 pd-left16 pd-right16 align-left">Hà Nội</td>
                                            <td class="ms-table__col ms-table__col12 pd-left16 pd-right16 align-center col-function">
                                                <div class="ms-dropdown width70">
                                                    <div class="ms-dropdown__box">
                                                        <button class="ms-dropdown__box__icon">
                                                            <div class="sprite-bluearrdown"></div>
                                                        </button>
                                                        <input class="ms-dropdown__box__text dropdown-text-modified blue" type="text" placeholder="Sửa" readonly>
                                                        <div class="ms-dropdown__list dropdown-list-funtion-modified width150">
                                                            <div class="ms-dropdown__list__container">
                                                                <div class="ms-dropdown__list__value">Nhân bản</div>
                                                                <div class="ms-dropdown__list__value">Xóa</div>
                                                                <div class="ms-dropdown__list__value">Ngừng sử dụng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="ms-table__row">
                                            <td class="ms-table__col ms-table__col1 pd-left16 pd-right16 ">
                                                <div class="ms-checkbox-wrapper mg-bottom18">
                                                    <label class="ms-checkbox ">
                                                        <input type="checkbox" class="row-check ">
                                                        <span class="cb-checkmark check-mark-bg"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="ms-table__col ms-table__col2 pd-right16 align-left">NV10000</td>
                                            <td class="ms-table__col ms-table__col3 pd-left16 pd-right16 align-left">Nguyễn Văn A</td>
                                            <td class="ms-table__col ms-table__col4 pd-left16 pd-right16 align-left">Nam</td>
                                            <td class="ms-table__col ms-table__col5 pd-left16 pd-right16 align-center">12/12/2001</td>
                                            <td class="ms-table__col ms-table__col6 pd-left16 pd-right16 align-left" title="Số chứng minh nhân dân">001201012901</td>
                                            <td class="ms-table__col ms-table__col7 pd-left16 pd-right16 align-left">Nhân viên</td>
                                            <td class="ms-table__col ms-table__col8 pd-left16 pd-right16 align-left">Misa</td>
                                            <td class="ms-table__col ms-table__col9 pd-left16 pd-right16 align-left">0123456789</td>
                                            <td class="ms-table__col ms-table__col10 pd-left16 pd-right16 align-left">ViettinBanh</td>
                                            <td class="ms-table__col ms-table__col11 pd-left16 pd-right16 align-left">Hà Nội</td>
                                            <td class="ms-table__col ms-table__col12 pd-left16 pd-right16 align-center col-function">
                                                <div class="ms-dropdown width70">
                                                    <div class="ms-dropdown__box">
                                                        <button class="ms-dropdown__box__icon">
                                                            <div class="sprite-bluearrdown"></div>
                                                        </button>
                                                        <input class="ms-dropdown__box__text dropdown-text-modified blue" type="text" placeholder="Sửa" readonly>
                                                        <div class="ms-dropdown__list dropdown-list-funtion-modified width150">
                                                            <div class="ms-dropdown__list__container">
                                                                <div class="ms-dropdown__list__value">Nhân bản</div>
                                                                <div class="ms-dropdown__list__value">Xóa</div>
                                                                <div class="ms-dropdown__list__value">Ngừng sử dụng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="ms-table__row">
                                            <td class="ms-table__col ms-table__col1 pd-left16 pd-right16 ">
                                                <div class="ms-checkbox-wrapper mg-bottom18">
                                                    <label class="ms-checkbox ">
                                                        <input type="checkbox" class="row-check ">
                                                        <span class="cb-checkmark check-mark-bg"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="ms-table__col ms-table__col2 pd-right16 align-left">NV10000</td>
                                            <td class="ms-table__col ms-table__col3 pd-left16 pd-right16 align-left">Nguyễn Văn A</td>
                                            <td class="ms-table__col ms-table__col4 pd-left16 pd-right16 align-left">Nam</td>
                                            <td class="ms-table__col ms-table__col5 pd-left16 pd-right16 align-center">12/12/2001</td>
                                            <td class="ms-table__col ms-table__col6 pd-left16 pd-right16 align-left" title="Số chứng minh nhân dân">001201012901</td>
                                            <td class="ms-table__col ms-table__col7 pd-left16 pd-right16 align-left">Nhân viên</td>
                                            <td class="ms-table__col ms-table__col8 pd-left16 pd-right16 align-left">Misa</td>
                                            <td class="ms-table__col ms-table__col9 pd-left16 pd-right16 align-left">0123456789</td>
                                            <td class="ms-table__col ms-table__col10 pd-left16 pd-right16 align-left">ViettinBanh</td>
                                            <td class="ms-table__col ms-table__col11 pd-left16 pd-right16 align-left">Hà Nội</td>
                                            <td class="ms-table__col ms-table__col12 pd-left16 pd-right16 align-right col-function">
                                                <div class="ms-dropdown width70">
                                                    <div class="ms-dropdown__box">
                                                        <button class="ms-dropdown__box__icon">
                                                            <div class="sprite-bluearrdown"></div>
                                                        </button>
                                                        <input class="ms-dropdown__box__text dropdown-text-modified blue" type="text" placeholder="Sửa" readonly>
                                                        <div class="ms-dropdown__list dropdown-list-funtion-modified width150">
                                                            <div class="ms-dropdown__list__container">
                                                                <div class="ms-dropdown__list__value">Nhân bản</div>
                                                                <div class="ms-dropdown__list__value">Xóa</div>
                                                                <div class="ms-dropdown__list__value">Ngừng sử dụng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="ms-table__row">
                                            <td class="ms-table__col ms-table__col1 pd-left16 pd-right16 ">
                                                <div class="ms-checkbox-wrapper mg-bottom18">
                                                    <label class="ms-checkbox ">
                                                        <input type="checkbox" class="row-check ">
                                                        <span class="cb-checkmark check-mark-bg"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="ms-table__col ms-table__col2 pd-right16 align-left">NV10000</td>
                                            <td class="ms-table__col ms-table__col3 pd-left16 pd-right16 align-left">Nguyễn Văn A</td>
                                            <td class="ms-table__col ms-table__col4 pd-left16 pd-right16 align-left">Nam</td>
                                            <td class="ms-table__col ms-table__col5 pd-left16 pd-right16 align-center">12/12/2001</td>
                                            <td class="ms-table__col ms-table__col6 pd-left16 pd-right16 align-left" title="Số chứng minh nhân dân">001201012901</td>
                                            <td class="ms-table__col ms-table__col7 pd-left16 pd-right16 align-left">Nhân viên</td>
                                            <td class="ms-table__col ms-table__col8 pd-left16 pd-right16 align-left">Misa</td>
                                            <td class="ms-table__col ms-table__col9 pd-left16 pd-right16 align-left">0123456789</td>
                                            <td class="ms-table__col ms-table__col10 pd-left16 pd-right16 align-left">ViettinBanh</td>
                                            <td class="ms-table__col ms-table__col11 pd-left16 pd-right16 align-left">Hà Nội</td>
                                            <td class="ms-table__col ms-table__col12 pd-left16 pd-right16 align-right col-function">
                                                <div class="ms-dropdown width70">
                                                    <div class="ms-dropdown__box">
                                                        <button class="ms-dropdown__box__icon">
                                                            <div class="sprite-bluearrdown"></div>
                                                        </button>
                                                        <input class="ms-dropdown__box__text dropdown-text-modified blue" type="text" placeholder="Sửa" readonly>
                                                        <div class="ms-dropdown__list dropdown-list-funtion-modified width150">
                                                            <div class="ms-dropdown__list__container">
                                                                <div class="ms-dropdown__list__value">Nhân bản</div>
                                                                <div class="ms-dropdown__list__value">Xóa</div>
                                                                <div class="ms-dropdown__list__value">Ngừng sử dụng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="ms-table__row">
                                            <td class="ms-table__col ms-table__col1 pd-left16 pd-right16 ">
                                                <div class="ms-checkbox-wrapper mg-bottom18">
                                                    <label class="ms-checkbox ">
                                                        <input type="checkbox" class="row-check ">
                                                        <span class="cb-checkmark check-mark-bg"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="ms-table__col ms-table__col2 pd-right16 align-left">NV10000</td>
                                            <td class="ms-table__col ms-table__col3 pd-left16 pd-right16 align-left">Nguyễn Văn A</td>
                                            <td class="ms-table__col ms-table__col4 pd-left16 pd-right16 align-left">Nam</td>
                                            <td class="ms-table__col ms-table__col5 pd-left16 pd-right16 align-center">12/12/2001</td>
                                            <td class="ms-table__col ms-table__col6 pd-left16 pd-right16 align-left" title="Số chứng minh nhân dân">001201012901</td>
                                            <td class="ms-table__col ms-table__col7 pd-left16 pd-right16 align-left">Nhân viên</td>
                                            <td class="ms-table__col ms-table__col8 pd-left16 pd-right16 align-left">Misa</td>
                                            <td class="ms-table__col ms-table__col9 pd-left16 pd-right16 align-left">0123456789</td>
                                            <td class="ms-table__col ms-table__col10 pd-left16 pd-right16 align-left">ViettinBanh</td>
                                            <td class="ms-table__col ms-table__col11 pd-left16 pd-right16 align-left">Hà Nội</td>
                                            <td class="ms-table__col ms-table__col12 pd-left16 pd-right16 align-right col-function">
                                                <div class="ms-dropdown width70">
                                                    <div class="ms-dropdown__box">
                                                        <button class="ms-dropdown__box__icon">
                                                            <div class="sprite-bluearrdown"></div>
                                                        </button>
                                                        <input class="ms-dropdown__box__text dropdown-text-modified blue" type="text" placeholder="Sửa" readonly>
                                                        <div class="ms-dropdown__list dropdown-list-funtion-modified width150">
                                                            <div class="ms-dropdown__list__container">
                                                                <div class="ms-dropdown__list__value">Nhân bản</div>
                                                                <div class="ms-dropdown__list__value">Xóa</div>
                                                                <div class="ms-dropdown__list__value">Ngừng sử dụng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="ms-table__row">
                                            <td class="ms-table__col ms-table__col1 pd-left16 pd-right16 ">
                                                <div class="ms-checkbox-wrapper mg-bottom18">
                                                    <label class="ms-checkbox ">
                                                        <input type="checkbox" class="row-check ">
                                                        <span class="cb-checkmark check-mark-bg"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="ms-table__col ms-table__col2 pd-right16 align-left">NV10000</td>
                                            <td class="ms-table__col ms-table__col3 pd-left16 pd-right16 align-left">Nguyễn Văn A</td>
                                            <td class="ms-table__col ms-table__col4 pd-left16 pd-right16 align-left">Nam</td>
                                            <td class="ms-table__col ms-table__col5 pd-left16 pd-right16 align-center">12/12/2001</td>
                                            <td class="ms-table__col ms-table__col6 pd-left16 pd-right16 align-left" title="Số chứng minh nhân dân">001201012901</td>
                                            <td class="ms-table__col ms-table__col7 pd-left16 pd-right16 align-left">Nhân viên</td>
                                            <td class="ms-table__col ms-table__col8 pd-left16 pd-right16 align-left">Misa</td>
                                            <td class="ms-table__col ms-table__col9 pd-left16 pd-right16 align-left">0123456789</td>
                                            <td class="ms-table__col ms-table__col10 pd-left16 pd-right16 align-left">ViettinBanh</td>
                                            <td class="ms-table__col ms-table__col11 pd-left16 pd-right16 align-left">Hà Nội</td>
                                            <td class="ms-table__col ms-table__col12 pd-left16 pd-right16 align-right col-function">
                                                <div class="ms-dropdown width70">
                                                    <div class="ms-dropdown__box">
                                                        <button class="ms-dropdown__box__icon">
                                                            <div class="sprite-bluearrdown"></div>
                                                        </button>
                                                        <input class="ms-dropdown__box__text dropdown-text-modified blue" type="text" placeholder="Sửa" readonly>
                                                        <div class="ms-dropdown__list dropdown-list-funtion-modified width150">
                                                            <div class="ms-dropdown__list__container">
                                                                <div class="ms-dropdown__list__value">Nhân bản</div>
                                                                <div class="ms-dropdown__list__value">Xóa</div>
                                                                <div class="ms-dropdown__list__value">Ngừng sử dụng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="ms-table__row">
                                            <td class="ms-table__col ms-table__col1 pd-left16 pd-right16 ">
                                                <div class="ms-checkbox-wrapper mg-bottom18">
                                                    <label class="ms-checkbox ">
                                                        <input type="checkbox" class="row-check ">
                                                        <span class="cb-checkmark check-mark-bg"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="ms-table__col ms-table__col2 pd-right16 align-left">NV10000</td>
                                            <td class="ms-table__col ms-table__col3 pd-left16 pd-right16 align-left">Nguyễn Văn A</td>
                                            <td class="ms-table__col ms-table__col4 pd-left16 pd-right16 align-left">Nam</td>
                                            <td class="ms-table__col ms-table__col5 pd-left16 pd-right16 align-center">12/12/2001</td>
                                            <td class="ms-table__col ms-table__col6 pd-left16 pd-right16 align-left" title="Số chứng minh nhân dân">001201012901</td>
                                            <td class="ms-table__col ms-table__col7 pd-left16 pd-right16 align-left">Nhân viên</td>
                                            <td class="ms-table__col ms-table__col8 pd-left16 pd-right16 align-left">Misa</td>
                                            <td class="ms-table__col ms-table__col9 pd-left16 pd-right16 align-left">0123456789</td>
                                            <td class="ms-table__col ms-table__col10 pd-left16 pd-right16 align-left">ViettinBanh</td>
                                            <td class="ms-table__col ms-table__col11 pd-left16 pd-right16 align-left">Hà Nội</td>
                                            <td class="ms-table__col ms-table__col12 pd-left16 pd-right16 align-right col-function">
                                                <div class="ms-dropdown width70">
                                                    <div class="ms-dropdown__box">
                                                        <button class="ms-dropdown__box__icon">
                                                            <div class="sprite-bluearrdown"></div>
                                                        </button>
                                                        <input class="ms-dropdown__box__text dropdown-text-modified blue" type="text" placeholder="Sửa" readonly>
                                                        <div class="ms-dropdown__list dropdown-list-funtion-modified width150">
                                                            <div class="ms-dropdown__list__container">
                                                                <div class="ms-dropdown__list__value">Nhân bản</div>
                                                                <div class="ms-dropdown__list__value">Xóa</div>
                                                                <div class="ms-dropdown__list__value">Ngừng sử dụng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="ms-table__row">
                                            <td class="ms-table__col ms-table__col1 pd-left16 pd-right16 ">
                                                <div class="ms-checkbox-wrapper mg-bottom18">
                                                    <label class="ms-checkbox ">
                                                        <input type="checkbox" class="row-check ">
                                                        <span class="cb-checkmark check-mark-bg"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="ms-table__col ms-table__col2 pd-right16 align-left">NV10000</td>
                                            <td class="ms-table__col ms-table__col3 pd-left16 pd-right16 align-left">Nguyễn Văn A</td>
                                            <td class="ms-table__col ms-table__col4 pd-left16 pd-right16 align-left">Nam</td>
                                            <td class="ms-table__col ms-table__col5 pd-left16 pd-right16 align-center">12/12/2001</td>
                                            <td class="ms-table__col ms-table__col6 pd-left16 pd-right16 align-left" title="Số chứng minh nhân dân">001201012901</td>
                                            <td class="ms-table__col ms-table__col7 pd-left16 pd-right16 align-left">Nhân viên</td>
                                            <td class="ms-table__col ms-table__col8 pd-left16 pd-right16 align-left">Misa</td>
                                            <td class="ms-table__col ms-table__col9 pd-left16 pd-right16 align-left">0123456789</td>
                                            <td class="ms-table__col ms-table__col10 pd-left16 pd-right16 align-left">ViettinBanh</td>
                                            <td class="ms-table__col ms-table__col11 pd-left16 pd-right16 align-left">Hà Nội</td>
                                            <td class="ms-table__col ms-table__col12 pd-left16 pd-right16 align-right col-function">
                                                <div class="ms-dropdown width70">
                                                    <div class="ms-dropdown__box">
                                                        <button class="ms-dropdown__box__icon">
                                                            <div class="sprite-bluearrdown"></div>
                                                        </button>
                                                        <input class="ms-dropdown__box__text dropdown-text-modified blue" type="text" placeholder="Sửa" readonly>
                                                        <div class="ms-dropdown__list dropdown-list-funtion-modified width150">
                                                            <div class="ms-dropdown__list__container">
                                                                <div class="ms-dropdown__list__value">Nhân bản</div>
                                                                <div class="ms-dropdown__list__value">Xóa</div>
                                                                <div class="ms-dropdown__list__value">Ngừng sử dụng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- PAGING -->
                            <div class="ms-table-footer">
                                <div class="ms-table-footer__left">
                                    Tổng : <b>9</b>
                                </div>
                                <div class="ms-table-footer__right">
                                    <div class="ms-table-footer__right__limit">
                                        <span style="color: #666666;">Số bản ghi/trang:</span>
                                        <div class="ms-dropdown width40">
                                            <div class="ms-dropdown__box">
                                                <button class="ms-dropdown__box__icon dropdown-icon-modified">
                                                    <div class="sprite-bigarrdown"></div>
                                                </button>
                                                <input class="ms-dropdown__box__text dropdown-text-modified" type="text" placeholder="10" readonly>
                                                <div class="ms-dropdown__list dropdown-list-modified">
                                                    <div class="ms-dropdown__list__container">
                                                        <div class="ms-dropdown__list__value">10</div>
                                                        <div class="ms-dropdown__list__value">20</div>
                                                        <div class="ms-dropdown__list__value">30</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ms-table-footer__right__range mg-left16">
                                        <b>1 - 9</b> <span style="color: #666666;">bản ghi</span>
                                    </div>
                                    <div class="sprite-bigarrleft mg-left16"></div>
                                    <div class="sprite-bigarrright mg-left16"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("pop-up-dialog").addEventListener("click",function(){
            document.querySelector(".ms-dialog").style.display = "block";
        });

        document.querySelector(".ms-dialog-wrapper__header__exit").addEventListener("click",function(){
            document.querySelector(".ms-dialog").style.display = "none";
        });

        document.querySelector(".ms-dialog-wrapper").addEventListener("click", function(){
            document.getElementById("tab-focus").focus();
        });

        const mainCheckBox = document.getElementById("main-check");
        const allCheckMask = document.querySelectorAll(".cb-checkmark");
        mainCheckBox.addEventListener("change",function(){
            // alert(mainCheckBox.getAttribute("checked"));
            const allRowCheckBox = document.querySelectorAll(".row-check");
            console.log(allCheckMask);
            if(mainCheckBox.getAttribute("checked")){
                for (const x of allRowCheckBox) {
                    // console.log(x);
                    if(x.getAttribute("checked")){
                        x.removeAttribute("checked");
                    }
                }
            } else{
                for (const x of allRowCheckBox) {
                    // console.log(x);
                    if(!x.getAttribute("checked")){
                        x.setAttribute("checked","checked");
                    }
                }
            }
        });
    </script>
</body>
</html>