/* THIS CSS file use to text component */
@import url(./components/button.css);
@import url(./components/buttonWithIcon.css);
@import url(./components/textbox.css);
@import url(./components/textboxWithIcon.css);
@import url(./components/combobox.css);
@import url(./components/dropdown.css);
@import url(./components/dialog.css);
@import url(./components/notification.css);
@import url(./components/table.css);
@import url(./components/checkbox.css);
@import url(./components/radiobutton.css);
@font-face {
    font-family: "Roboto-Regular";
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: "Roboto-Regular";
}

button{
    border: none;
}

.group{
    display: flex;
    justify-content: space-around;
}

::-webkit-scrollbar{
    width: 8px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(171deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

::-webkit-scrollbar-thumb {
    background: #9E9E9E;
    border-radius: 8px;
    background-clip: padding-box;
}


