.sprite-toggle{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -1153px -28px;
	width: 24px;
	height: 24px;
    margin-right: 16px;
    cursor: pointer;
}

.sprite-logo{
    background: url('../assets/img/Logo_Module_TiengViet_White.66947422.svg') left top no-repeat;
    background-size: 100px 36px;
    width: 100px;
    height: 36px;
    margin-right: 36px;
    cursor: pointer;
}

.sprite-bigarrdown{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -1129px -365px;
	width: 14px;
	height: 8px;
    cursor: pointer;
}

.sprite-help{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -731px -30px;
	width: 24px;
	height: 24px;
    margin: 0 12px 0 12px;
    cursor: pointer;
}

.sprite-bell{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -787px -30px;
	width: 24px;
	height: 25px;
    margin: 0 12px 0 12px;
    cursor: pointer;
}

.sprite-bigarrdown{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -1128px -361px;
	width: 16px;
	height: 16px;
    cursor: pointer;
}

.sprite-bluearrdown{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -900px -365px;
	width: 8px;
	height: 5px;
    cursor: pointer;
}

.sprite-arrdown{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -467px -414px;
	width: 10px;
	height: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.sprite-home{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -423px -1630px;
	width: 24px;
	height: 24px;
    cursor: pointer;
}

.sprite-bigarrleft{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -28px -404px;
	width: 24px;
	height: 24px;
    cursor: pointer;
}

.sprite-boldbigarrleft{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -28px -356px;
	width: 24px;
	height: 24px;
    cursor: pointer;
}

.sprite-boldbigarrright{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -76px -356px;
	width: 24px;
	height: 24px;
    cursor: pointer;
}

.sprite-bigarrright{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -76px -404px;
	width: 24px;
	height: 24px;
    cursor: pointer;
}

.sprite-search{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -316px -148px;
	width: 17px;
	height: 16px;
    cursor: pointer;
}

.sprite-refresh{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -1098px -90px;
	width: 20px;
	height: 21px;
    cursor: pointer;
}

.sprite-exit{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -144px -144px;
	width: 24px;
	height: 24px;
    cursor: pointer;
}

.sprite-question{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -88px -144px;
	width: 24px;
	height: 24px;
    cursor: pointer;
}

.sprite-date{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -124px -308px;
	width: 24px;
	height: 24px;
}

/* ******************************************************** */
/* ******************************************************** */
/* Sprite for sidebar */
.sprite-tongquan{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -30px -1628px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-tienmat{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -73px -1628px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-tiengui{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -117px -1629px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-muahang{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -161px -1629px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-banhang{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -204px -1628px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-qlhoadon{
    background: url('../assets/img/Sprites.64af8f61.svg')
    no-repeat -249px -1628px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-kho{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -291px -1628px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-congcu{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -336px -1629px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-taisan{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -378px -1629px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-thue{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -423px -1630px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-giathanh{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -467px -1629px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-tonghop{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -510px -1629px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-ngansach{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -378px -1660px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-baocao{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -547px -1631px;
	width: 24px;
	height: 24px;
    display: block;
}

.sprite-phantich{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -203px -1662px;
	width: 24px;
	height: 24px;
    display: block;
}

/* ******************************************************** */
/* ******************************************************** */
/* Sprite for sidebar focus */

.spritefc-tongquan{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -30px -1585px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-tienmat{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -73px -1585px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-tiengui{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -117px -1586px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-muahang{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -161px -1586px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-banhang{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -204px -1585px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-qlhoadon{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -249px -1585px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-kho{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -291px -1585px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-congcu{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -336px -1586px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-taisan{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -378px -1586px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-thue{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -423px -1587px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-giathanh{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -467px -1586px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-tonghop{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -510px -1586px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-ngansach{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -423px -1660px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-baocao{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -547px -1588px;
	width: 24px;
	height: 24px;
    display: none;
}
.spritefc-phantich{
    background: url('../assets/img/Sprites.64af8f61.svg') no-repeat -247px -1662px;
	width: 24px;
	height: 24px;
    display: none;
}

/* FOCUS On Side BAr */

/* .tongquan:focus .sprite-tongquan{
    display: none;
}

.tongquan:focus .spritefc-tongquan{
    display: block;
} */

