/* IMPORT CSS COMPONENTS */
@import url(../styles/components/button.css);
@import url(../styles/components/buttonWithIcon.css);
@import url(../styles/components/combobox.css);
@import url(../styles/components/dialog.css);
@import url(../styles/components/dropdown.css);
@import url(../styles/components/notification.css);
@import url(../styles/components/textbox.css);
@import url(../styles/components/textboxWithIcon.css);
@import url(../styles/components/table.css);
@import url(../styles/components/checkbox.css);
@import url(../styles/components/radiobutton.css);
@import url(../styles/components/formInput.css);
@import url(../styles/components/skeleton.css);

.wrapper{
    display: flex;
    flex-direction: column;
}

/* CSS HEADER */
.header{
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-width: 1366px;/*Chong vo man hinh*/
    height: 56px;
    padding: 0 16px 0 16px;
    background-color: white;
    border: 1px solid rgb(182, 178, 178);
}

.header-left{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    line-height: 56px;
    align-items: center;
}

.header-right__icon{
    display: flex;
    position: relative;
    align-items: center;
    height: 56px;
}

.header-right__icon:hover{
    background-color: rgb(60, 59, 59);
}

.header-right__icon__foot{
    position: absolute;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid rgb(60, 59, 59);
    display: none;
    top: 56px;
}

.header-right__icon:hover .header-right__icon__foot{
    display: inline-block;
}

.header-right__user__img{
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

.header-right__user__name{
    margin-left: 6px;
    font-weight: bolder;
}

.header-right__user{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* CSS SIDEBAR & BODY */
.container{
    display: flex;
    width: 100%;
    min-width: 1366px;
    height: calc(100vh - 56px);
    /* margin-top: 56px; */
}

/* CSS SIDEBAR */
.sidebar{
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: #869AB8;
    background-color: #041434;
}

.item-list{
    display: flex;
    width: 200px;
    height: 100%;
    flex-direction: column;
    padding: 20px 12px 0 12px;
    overflow-x: auto;
}

.item-list__item{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    margin-bottom: 4px;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px 10px 12px;
    background-color: #041434;
    color: #869AB8;
    font-weight: bold;
}

.item:hover{
    background-color: #27395E;
}

.item-list__item:focus{
    background-color: hsla(220, 100%, 83%, 0.16);
}

.item-list__item:focus > div{
    color: #fff;
}

.item-list__item:hover{
    background-color: hsla(220, 42%, 26%, 0.54);
}

.sidebar-focus:focus{
    outline: none;
}

.sidebar-focus:focus .item-nofocus{
    display: none;
}

.sidebar-focus:focus .item-focus{
    display: block;
}

.item-list__item__text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    flex: 1;
    text-align: left;
    /* width: 100%;
    text-align: left; */
}

.sidebar__decrease{
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
    border-top: 1px solid #869AB8;
    align-items: center;
    padding-left: 24px;
    cursor: pointer;
    color: #869AB8;
    font-weight: bold;
}

.sidebar__decrease:hover{
    background-color: hsla(220, 42%, 26%, 0.54);
}

.sidebar__decrease:active{
    background-color: hsla(220, 100%, 83%, 0.16);
}

.sidebar__decrease:active > div{
    color: #fff;
}

/* CSS BODY */
.body{
    width: calc(100% - 200px);
    height: 100%;
    padding: 24px 24px 48px 24px;
    background-color: #EEEFF1;
}

.content{
    width: 100%;
    height: 100%;
}

.content__title{
    display: flex;
    justify-content: space-between;
    height: 36px;
    align-items: center;
    margin-bottom: 16px;
}

.content__title .title{
    font-size: 24px;
    font-weight: bold;
    color: #1F1F20;
}

/* CSS BODY TABLE */
.content__table{
    width: 100%;
    height: calc(100% - 52px);
    /* height: auto; */
    border-radius: 4px;
}

.dropdown-text-modified{
    width: 50px;
}

.dropdown-text-modified:hover{
    background-color: #ffffff00;
}

.dropdown-icon-modified{
    right: calc(0% + 22px);
    height: 50%;
}

.dropdown-icon-modified:hover{
    border: 1px solid #869AB8
}

.dropdown__box__modified:hover{
    background-color: #f6f6f600;
}

.dropdown-icon-modified:hover + .dropdown-text-modified{
    background-color: #FFFFFF00;
}

.paging-text-modified{
    width: 50px;
    border: unset;
}

.paging-text-modified::placeholder{
    font-size: 14px;
    color: black;
}

.paging-icon-modified{
    right: -14px;
}

/* SET WIDTH FOR COL */
/* .width-checkbox{
    width: 48px;
} */

.width-employeeID{
    min-width: 120px;
}

.width-employeeName{
    min-width: 200px;
}

.width-gender{
    min-width: 110px;
}

.width-dob{
    min-width: 120px;
}
.width-IDnumber{
    min-width: 150px;
}
.width-position{
    min-width: 200px;
}
.width-department{
    min-width: 200px;
}
.width-bankAccount{
    min-width: 150px;
}
.width-banhName{
    min-width: 200px;
}
.width-bankAddress{
    min-width: 250px;
}
.width-function{
    min-width: 120px;
}

/* SET WIDTH FOR COL */
.filter{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    padding: 12px 20px 12px 16px;
}

.blue::placeholder{
    padding-left: 16px;
    /* color: red; */
}

/* Funcion Dropdown list */
.function-dropdown{
    display: none;
    position: fixed;
    z-index: 3;
    /* top: 50%;
    left: 50%; */
    width: 150px;
    padding: 8px;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0px 4px 16px rgba(23,27,42,0.24);
}

.function-dropdown__container{
    overflow-y: scroll;
    border-radius: 4px;
    width: 100%;
    max-height: 200px;
}

.function-dropdown__value{
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 8px;
    padding-left: 8px;
    cursor: pointer;
}

.function-dropdown__value:hover{
    background-color: rgba(80,184,60,0.1);
}

