/* Warning block popup*/
.ms-warning-block{
    height: 200px;
    width: 500px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    padding: 0px 24px 24px 24px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.078);
}

.ms-warning-block__top{
    height: 55%;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.078);
    align-items: center;
}

.ms-warning-block__top__icon{
    margin-right: 16px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -598px -463px;
	width: 36px;
	height: 37px;
}

.ms-warning-block__top__text{
    color: rgb(56, 55, 55);
}

.ms-warning-block__bottom{
    flex: 1;
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}

/* Error block popup */
.ms-error-block{
    height: 200px;
    width: 500px;
    display: none;
    background-color: #fff;
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    justify-content: center;
    padding: 0px 24px 24px 24px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.078);
}

.ms-error-block__top{
    height: 55%;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.078);
    align-items: center;
}

.ms-error-block__top__icon{
    margin-right: 16px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -752px -462px;
	width: 36px;
	height: 36px;
}

.ms-error-block__top__text{
    color: rgb(56, 55, 55);
}

.ms-error-block__bottom{
    flex: 1;
    display: flex;
    margin-top: 16px;
    justify-content: center;
}

/* Inform block popup */
.ms-inform-block{
    height: 200px;
    width: 500px;
    display: none;
    background-color: #fff;
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    justify-content: center;
    padding: 0px 24px 24px 24px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.078);
}

.ms-inform-block__top{
    height: 55%;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.078);
    align-items: center;
}

.ms-inform-block__top__icon{
    margin-right: 16px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -672px -462px;
	width: 36px;
	height: 36px;
}

.ms-inform-block__top__text{
    color: rgb(56, 55, 55);
}

.ms-inform-block__bottom{
    flex: 1;
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}