/* .ms-checkbox-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
} */

/* Customize the label (the ms-checkbox) */
.ms-checkbox {
  height: 24px;
  width: 24px;
}

  /* Hide the browser's default checkbox */
  /* .ms-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  } */
  
  /* Create a custom checkbox */
  /* .cb-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #000;
  }
   */
  