/* Customize the label (the ms-radiobutton) */
.ms-radiobutton {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .ms-radiobutton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .rdb-checkmark {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #eee;
    /* background-color: #eee; */
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .ms-radiobutton:hover input ~ .rdb-checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .ms-radiobutton input:checked ~ .rdb-checkmark {
    background-color: #fff;
    border: 1px solid #50B83C;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .rdb-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .ms-radiobutton input:checked ~ .rdb-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .ms-radiobutton .rdb-checkmark:after {
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #50B83C;
  }