.ms-textbox-icon{
    display: block;
}

.ms-textbox-icon__field{
    color: #1F1F1F;
    font-weight: bold;
    margin-bottom: 8px;
}

.ms-textbox-icon__wrap{
    position: relative;
    display: flex;
}

.ms-textbox-icon__input{
    width: 260px;
    height: 36px;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 30px;
    border: 1px solid #E0E0E0;
    outline: none;
}

.ms-textbox-icon__input:hover{
    background-color: #F6F6F6;
}

.ms-textbox-icon__input:focus{
    border-color: #50B83C;
}

.ms-textbox-icon__icon{
    position: absolute;
    display: flex;
    right: 0%;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 36px;
    width: 36px;
}

.ms-textbox-icon__icon:active{
    background-color: #EBEBEB;
}

.ms-textbox-icon__icon i::before{
    width: 20px;
    height: 20px;
}

::placeholder{
    color: #9E9E9E;
}